<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>vue-practise</title>
</head>
<body>
	<div id="container">
		<textarea v-model="article">
			
		</textarea>
		这是关于{{article}}的文字。
		<div>你来自哪里？</div>
		<select name="" id="" v-model="hometown">
			<option value="anhui">安徽</option>
			<option value="beijing">北京</option>
			<option value="shanghai">上海</option>
			<option value="henan">河南</option>
			<option value="sichuan">四川</option>
			<option value="gyaundong">广东</option>
			<option value="hunan">湖南</option>
			<option value="jiangxi">江西</option>
		</select>
		原来是{{hometown}}啊？
		<div>你要去哪里？</div>
		<select name="" id="" v-model="work" multiple>
			<option value="anhui">安徽</option>
			<option value="beijing">北京</option>
			<option value="shanghai">上海</option>
			<option value="henan">河南</option>
			<option value="sichuan">四川</option>
			<option value="gyaundong">广东</option>
			<option value="hunan">湖南</option>
			<option value="jiangxi">江西</option>
		</select>
		{{work}}
	</div>


	<script type="text/javascript" src="lib/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>